@import url(./assets/fonts/HelveticaNeueLight.otf);
@import url(./assets/fonts/HelveticaNeueUltraLightItalic.otf);
.head {
    color: aliceblue;
}
.contener{
  background-image: url(./assets/images/resBanner.jpg);
 background-position: center;
 background-size: 120%;
 background-repeat: no-repeat;
 margin: 0px;
}
.button{
    
    margin-right: 10px;
    
}
.logo1{
    width: 100px;
    margin-top: 20px;
    margin-left: 40px;
}

.head1{
    background: rgb(12, 8, 8);
    width: 100%;
    margin-bottom: 0px;
    display: flex;
        justify-content: space-between;

}
.text{
    color: white;
    margin-top: 35%;
    font-size: 12px;
    font-family: 'HelveticaNeueLight', sans-serif ;
}
.button{
    width: 220px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(201, 0, 0);
    color: white;
    border-radius: 2px;
    cursor: pointer;
    font-family: 'HelveticaNeueLight', sans-serif ;
}

.button1{
    margin-right: 30px;
    width: 100px;
    color: white;
    background-color: black;
    border-color: white;
    border-radius: 2px;
    border-width: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    font-family: 'HelveticaNeueLight', sans-serif ;
}
.body2{ 
    margin-left: 70px;
    margin-top: 100px;
    padding-bottom: 470px;
}
.logo{
    width: 400px;}
    .button:hover {
        background-color: #bb1515; 
    }
   .button1:hover{
    background-color: rgb(31, 30, 30);
   }
.bodytext{
    color: rgb(140, 138, 138);
    padding-bottom: 20px;
    font-weight: 100;
    font-family: 'HelveticaNeueUltraLightItalic', sans-serif ;
}
.resident{
    color: white;
}
.fantast{
    color: rgb(140, 138, 138);
    font-style: normal;
    text-decoration: none;
}
.fantast:hover{
    text-decoration: underline;
}
.anonse{
    color: white;
    margin: 0px;
    padding: 0px;
    font-family: 'HelveticaNeueLight', sans-serif ;
}
.down{
    color: white;
    background-color: rgb(55, 55, 57);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    margin-right: 70px;
}
.down1{
    margin-right: 760px;
    margin-top: 15px; 
    font-family: 'HelveticaNeueLight', sans-serif ;
}
.value-prop-logo{
    width: 25px;
    margin-left: 40px;

}

.button3{
    width: 300px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 40px;
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(201, 0, 0);
    color: white;
    border-radius: 2px;
    cursor: pointer;
    font-family: 'HelveticaNeueLight', sans-serif ;
}
.svg-icon{
    fill:rgb(201, 0, 0)
}
.body1{
    margin: 0px;
}
.rol{
    color: rgb(140, 138, 138);
    font-family: 'HelveticaNeueLight', sans-serif ;
    margin-right: 3px;
}
.rol1{
    color: white;
    font-family: 'HelveticaNeueLight', sans-serif ;
}
.anonse1{
    display: flex;
}